body {
    background-color : lightcoral
}
* {
    border: 1px black solid;
    margin: 1px;
}
header {
    text-align: center;
    width: 90%;
}
.container {
    min-height: 800px;
    width: 90%;
}
.homescreen {
    display: flex;
    padding: 5px;
    flex-grow: 1;
    justify-content: space-between;
}