body {
    background-color : lightcoral
}
* {
    border: 1px black solid;
    margin: 1px;
}
header {
    text-align: center;
    width: 90%;
}
.container {
    min-height: 900px;
    width: 90%;
    display: flex;
}
.homescreen {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-height: 200px;
}
.homescreen > div {
    flex-grow: 1;
    text-align: center;
    justify-content: space-between;
}
.setnumber1 > p {
    display:flex;
    flex-grow:1;
}